.box-back {
    text-align: right;
}
.box {
}
.box-add {
    text-align: center;
}
.blacken {
    filter: grayscale(100%);
    background-color: #999999;
    opacity: 0.4;
}
input{
    color: #D14348 !important;
}